.cart-list {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  background-color: #181818;
  margin: 0;
}

.cart-list li {
  width: 100%;
  background-color: #090909;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-list li div {
  font-size: 26px;
  padding: 0;
  gap: 16px;
  display: flex;
  align-items: center;
}

.cart-list li img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.cart-button {
  display: flex;
  gap: 2px;
}

.checkout {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.checkout-btn {
  height: 50%;
  padding: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
}