.shop {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #181818;
  min-height: 100vh;
}

.shop ul {
  list-style: none;
  padding: 16px 0;
  margin: 0;
  width: 100%;
  gap: 36px 18px ;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: start;
}

.shop li {
  width: 320px;
  height: 400px;
  background-color: #090909;
}

.shop li img {
  width: 320px;
  height: 350px;
  object-fit: cover;
}

.shop li div {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
  align-items: center;
  font-size: 19px;
  background-color: #080808;
}

.shop li div button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
}